body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#products{
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(3,1fr);
  gap: 30px 20px;
}

#products>div{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  justify-items: center;
  text-align: center;
  height: auto;
}


#products>div>div>img{
  margin-top: 30px;
  width:80%;
}

#products>div>div{
  margin-bottom: 50px;
}
